body{
    padding-top: 80px;
    padding-right: 100px;
    padding-bottom: 80px;
    padding-left: 100px;
    background-image: url(https://m.media-amazon.com/images/I/81yKpRx1fIL._AC_UF894,1000_QL80_.jpg);
    background-attachment:fixed;
    font-family: "Scotch Display";
}

.Background{
    background-image: url(https://cache.umusic.com/_sites/_halo/zrskt/nwff/tebg.jpeg);
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-radius: 10px;
}

ul {
    margin: 0;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
}

.Border{
    background-color:rgba(154, 146, 111, 0.862);
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    border-radius: 5px;

}
.Titulo {
    background-color: rgba(243, 239, 231, 0.999) ;
    height: 100px;
    text-align: center;
    border-radius: 5px;
    font-family: "Scotch Display";
    font-weight: 900;

}

.Titulo h1 {
    border-bottom: 1px solid black;
    font-size: 400%;
    font-weight: 900;

}

.Subtitulo {
    background-color: rgb(34, 41, 69);
    height: 50px;
    font-family: "Scotch Display";
    font-weight: 900;
    color: rgba(243, 239, 231, 0.999);
    text-align: center;
}

.Contenido {
    background-color: rgb(182 209 180);
    }

.Titulo3{
    font-family: "neue-haas-grotesk-display" !important;

}

.Album{
    text-align: center;
}

.Songs{
    font-family: "Signika Negative";
    font-size: 20px;
}

.Fearless {
    background-image: url("Fearless.webp");
    /* background-position: bottom -612px right 0px ; */
    background-size: 1300px;
}

.gradient {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(224, 183, 72, 0) 0%, #ccc 64.4%, #fff 100%);
}

.FearlessSongs{
    background-color: rgb(245 201 138);
}

.SpeakNow {
    background-image: url("https://www.billboard.com/wp-content/uploads/2023/06/Taylor-Swift-Speak-Now-cr-Beth-Garrabrant-billboard-1548.jpg?w=942&h=623&crop=1");
    /* background-position:bottom -464px right 0px ; */
    background-size: 1300px;
    
}

.SpeakNowSongs{
    background-color:rgb(202 173 207) ;
}

.Red {
    background-image: url("https://static.wikia.nocookie.net/taylorswift/images/6/6d/Red_%28Taylor%27s_Version%29_-_Portada.jpg/revision/latest/scale-to-width-down/1000?cb=20210618225145&path-prefix=es");
    background-position:bottom -724px right 0px ;
    background-size: cover;
}
.RedSongs {
    background-color:rgb(126 59 74) ;
}

.Nineteen {
    background-image: url("https://www.udiscovermusic.com/wp-content/uploads/2023/08/1989-Taylors-Version-1024x1024.jpg");
    background-position:bottom -724px right 0px ;
    background-size: cover;
}

.NineteenSongs{
    background-color:rgb(186 231 250) ;
}

.Reputation {
    background-image: url("https://www.kusd.edu/indiantrailpulse/wp-content/uploads/2017/12/Header-3-678x381.jpg");
    background-position:bottom -1234px right 0px ;
    background-size: cover;
}

.ReputationSongs{
    background-color: rgb(126 120 122);
}

.Lover {
    background-image: url("https://www.lahiguera.net/musicalia/artistas/taylor_swift/disco/9958/taylor_swift_lover-portada.jpg");
    background-position:bottom -527px right 0px ;
    background-size: cover;
}

.LoverSongs{
    background-color:rgb(247 178 207) ;
}

.Folklore {
    background-image: url("https://preview.redd.it/lru01jf2xme51.jpg?width=1080&crop=smart&auto=webp&s=f9069f0011c0b4a210ca6c0d6aaf5a5d260bd42b");
    background-position:bottom -54px right 0px ;
    background-size: cover;
}

.FolkloreSongs{
    background-color: rgb(209 204 198);
}

.Evermore {
    background-image: url("https://pbs.twimg.com/media/E3HZ3opVEAMkDZC?format=jpg&name=4096x4096");
    background-position:bottom -724px right 0px ;
    background-size: cover;
}

.EvermoreSongs{
    background-color:rgb(201 175 150) ;
}

.Midnights {
    background-image: url("https://pbs.twimg.com/media/FbTjWgnUsAAOTss?format=jpg&name=4096x4096");
    background-position:bottom -1005px  right 0px ;
    background-size: cover;
}

.MidnightsSongs {
    background-color: rgb(47 52 79);
    color: #fff;
}

.js-hidden {
    display: none;
}